*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

gradle.properties
*/build/
diagnostic_response.json
model_list.json
models.json
raw_models.json
raw_models_v1beta.json
v1_models.json

debug.keystore
